body {
  text-align: center;
  background-color: rgb(31, 31, 31);
  color: white;
}

#nav {
  background-color: rgb(27, 104, 155);
  padding-bottom: 25px; 
  padding-top: 25px;
}

.navLink {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  margin: 10px;
  padding: 2px 7px 2px 7px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: 3px solid rgb(29, 50, 145);
}

.navLink:hover {
  background-color: rgb(20, 120, 150);
}

